{% extends "base.html" %}

{% block title %}portal-Cspdemo{% endblock title %}
{% block content %}

            
            
                <h2>Overview Dashboard</h2>
                <p>This is the default view.</p>
                
                <div class="row g-3 mt-2">
                    <div class="col-12 col-md-4">
                        <div class="card p-3 shadow-sm border-0">
                            <h6 class="text-muted">Total Commisson today's</h6>
                            <h3>{{commissions.total_commission_today}} Rs</h3>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card p-3 shadow-sm border-0">
                            <h6 class="text-muted">Active Sessions</h6>
                            <h3>0</h3>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card p-3 shadow-sm border-0">
                            <h6 class="text-muted">Task Completion</h6>
                            <h3>0%</h3>
                        </div>
                    </div>
                </div>
            


{% endblock content %}